@import "@/variables.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato|Roboto");
@import url("https://use.typekit.net/jbb1uil.css");
@import url("https://rsms.me/inter/inter.css");

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", "Lato", sans-serif; //maybe avenir next
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #fcfcfc;
  background-color: $neutral-n2;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  ul.master-menu + .tabs {
    box-sizing: border-box;
    margin: 20px;
    height: $content-height;
    > .el-tabs__content {
      height: $content-height - 5vh;
      overflow-x: auto;
      > div[role="tabpanel"] {
        height: 100%;
        min-width: 940px;

        & > * {
          height: 100%;
          overflow: auto;
        }
        // overflow-y: scroll;
      }
    }
  }

  .split {
    display: grid;
    width: 100%;
    grid-template: auto / auto auto;
    grid-gap: 50px;
  }

  .success {
    color: #67c23a;
  }

  .el-tag {
    margin: 0 8px;
  }
  .full {
    height: 100%;
    width: 100%;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both;
  }

  // --------------------- SYSTEMS ---------------------
  // ------------ Fonts
  .headline {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 48px;
    letter-spacing: -0.03em;
    line-height: 1;

    &.thick {
      font-weight: 900;
    }
    &.bold {
      font-weight: 700;
    }
  }

  .article {
    font-family: source-sans-pro;
    line-height: 1.75;
  }

  .title {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1;
  }

  // ------------ Font size
  .fs1 {
    font-size: 12px;
  }
  .fs2 {
    font-size: 14px;
  }
  .fs3 {
    font-size: 16px;
  }
  .fs4 {
    font-size: 18px;
  }
  .fs5 {
    font-size: 20px;
  }
  .fs6 {
    font-size: 24px;
  }
  .fs7 {
    font-size: 32px;
  }
  .fs8 {
    font-size: 48px;
  }
  .fs9 {
    font-size: 66px;
  }

  // ------------ Font weight
  .fw1 {
    font-weight: 400;
  }
  .fw2 {
    font-weight: 450;
  }
  .fw3 {
    font-weight: 550;
  }
  .fw4 {
    font-weight: 700;
  }
  .fw5 {
    font-weight: 900;
  }

  // ------------ Color
  // - Primary
  .primary {
    &.p1 {
      background-color: $primary-p1;
      color: $primary-p9;
    }
    &.p2 {
      background-color: $primary-p2;
      color: $primary-p9;
    }
    &.p3 {
      background-color: $primary-p3;
      color: $primary-p9;
    }
    &.p4 {
      background-color: $primary-p4;
      color: $primary-p9;
    }
    &.p5 {
      background-color: $primary-p5;
      color: $primary-p9;
    }
    &.p6 {
      background-color: $primary-p6;
      color: $primary-p1;
    }
    &.p7 {
      background-color: $primary-p7;
      color: $primary-p1;
    }
    &.p8 {
      background-color: $primary-p8;
      color: $primary-p1;
    }
    &.p9 {
      background-color: $primary-p9;
      color: $primary-p1;
    }
  }

  // - Neutral
  .neutral {
    &.n1 {
      background-color: $neutral-n1;
      color: $neutral-n9;
    }
    &.n2 {
      background-color: $neutral-n2;
      color: $neutral-n9;
    }
    &.n3 {
      background-color: $neutral-n3;
      color: $neutral-n9;
    }
    &.n4 {
      background-color: $neutral-n4;
      color: $neutral-n9;
    }
    &.n5 {
      background-color: $neutral-n5;
      color: $neutral-n9;
    }
    &.n6 {
      background-color: $neutral-n6;
      color: $neutral-n1;
    }
    &.n7 {
      background-color: $neutral-n7;
      color: $neutral-n1;
    }
    &.n8 {
      background-color: $neutral-n8;
      color: $neutral-n1;
    }
    &.n9 {
      background-color: $neutral-n9;
      color: $neutral-n1;
    }
  }
  // - Support
  .support {
    // negative
    &.negative {
      &.n1 {
        background-color: $support-negative-n1;
        color: $support-negative-n5;
      }
      &.n2 {
        background-color: $support-negative-n2;
        color: $support-negative-n5;
      }
      &.n3 {
        background-color: $support-negative-n3;
        color: $support-negative-n1;
      }
      &.n4 {
        background-color: $support-negative-n4;
        color: $support-negative-n1;
      }
      &.n5 {
        background-color: $support-negative-n5;
        color: $support-negative-n1;
      }
    }

    // positive
    &.positive {
      &.p1 {
        background-color: $support-positive-p1;
        color: $support-positive-p5;
      }
      &.p2 {
        background-color: $support-positive-p2;
        color: $support-positive-p5;
      }
      &.p3 {
        background-color: $support-positive-p3;
        color: $support-positive-p1;
      }
      &.p4 {
        background-color: $support-positive-p4;
        color: $support-positive-p1;
      }
      &.p5 {
        background-color: $support-positive-p5;
        color: $support-positive-p1;
      }
    }

    // alert
    &.alert {
      &.a1 {
        background-color: $support-alert-a1;
        color: $support-alert-a5;
      }
      &.a2 {
        background-color: $support-alert-a2;
        color: $support-alert-a5;
      }
      &.a3 {
        background-color: $support-alert-a3;
        color: $support-alert-a5;
      }
      &.a4 {
        background-color: $support-alert-a4;
        color: $support-alert-a1;
      }
      &.a5 {
        background-color: $support-alert-a5;
        color: $support-alert-a1;
      }
    }
  }

  // ------------ Margin
  // ------------ Padding
  // ------------ Width
  // ------------ Height
  // ------------ Box shadows
  // ------------ Border radius
  // ------------ Border width
  // ------------ Opacity
}
