@import "@/variables.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css");

ul.master-menu + .tabs {
  box-sizing: border-box;
  margin: 20px;
  height: $content-height;
  > .el-tabs__content {
    height: $content-height - 5vh;
    overflow-x: auto;
    > div[role="tabpanel"] {
      height: 100%;
      min-width: 940px;

      & > * {
        height: 100%;
        overflow: auto;
      }
      // overflow-y: scroll;
    }
  }
}

.split {
  display: grid;
  width: 100%;
  grid-template: auto / auto auto;
  grid-gap: 50px;
}

.success {
  color: #67c23a;
}

.el-tag {
  margin: 0 8px;
}
.full {
  height: 100%;
  width: 100%;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}
